<%- include("partials/header.ejs") -%>
<input type="hidden" value="<%=issue%>" id="issue-num" />
<div class="container" style="margin-top: 20px">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="dropdown">
        <button
          class="btn btn-danger dropdown-toggle btn-lg"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Page
        </button>
        <ul
          class="dropdown-menu"
          aria-labelledby="dropdownMenuButton"
          style="height: 150px; overflow: auto"
        >
          <% for(let i = 0; i < pageNumbers; i++){ %>
          <li>
            <a class="dropdown-item" onclick="changePageNum('<%= i + 3 %>')"
              ><%=i + 1%></a
            >
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top: 15px">
    <div class="col-md-6">
      <div id="magazine-container">
        <div id="magazine-loader-container" class="hide">
          <div id="magazine-loader"></div>
        </div>
        <div id="magazine-overlay-right" onclick="goForward()">
          <div class="magazine-overlay-child">
            <i
              class="fas fa-chevron-right"
              style="font-size: 100px; color: white"
            ></i>
          </div>
        </div>
        <div id="magazine-overlay-left" onclick="goBack()">
          <div class="magazine-overlay-child">
            <i
              class="fas fa-chevron-left"
              style="font-size: 100px; color: white"
            ></i>
          </div>
        </div>
        <img src="" class="responsive" id="magazine-image" />
      </div>
    </div>
  </div>
</div>
<% if(isLogged) {%>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form
        class="bg-light p-3 m-3 rounded"
        method="POST"
        action="/issue-<%=issue%>"
      >
        <div class="mb-3">
          <label for="the-message" class="form-label">Message</label>
          <textarea
            class="form-control"
            name="theMessage"
            id="the-message"
            rows="2"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<% } %>

<!--Generate Messages -->

<% correctMessages.forEach(function(message){ %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <blockquote class="blockquote bg-light p-3 m-3 rounded">
        <div class="d-flex flex-row">
          <div class="user-text me-auto"><%= message.userID %></div>
          <% if(isLogged) { %> <% if(isLogged.googleId === message.googleId) {%>
          <form method="POST" action="/delete-<%=issue%>">
            <input
              type="hidden"
              name="messageToDeleteId"
              value="<%= message._id %>"
            />
            <button type="submit" class="btn btn-danger ms-auto">Delete</button>
          </form>
          <% } %> <% } %>
        </div>
        <p><%= message.message %></p>
      </blockquote>
    </div>
  </div>
</div>

<% }); %>

<script src="scripts/magazine.js"></script>

<%- include("partials/footer.ejs") -%>
